body {
font-family: 'Roboto', sans-serif;
line-height: 1.4;
font-size: 100%
color: #000;
background-color: #d3d3d3
}
#navlinks {
  list-style-type: none;
  padding-left: 0;
  margin: 0;

}

header {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;
  padding right: 5%;
}

/* Media Query für größere Bildschime */
@media (min-width:960px) {

  #navigation{
    display: block;
